*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.users, .posts {
    height: 80vh;
    overflow-y: scroll;
    background-color: #ccc;
    width: 87%;
    margin: 100px auto;
}

.users .user, .posts .post{
    border: 2px solid rgb(104, 183, 188);
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.postDet {
    border: 8px solid #283232;
    width: 80%;
    margin: 40px auto;
    text-align: center;
    font-size:30px;
  }
  